body {
	background-image: url("../images/light.png")
}

header {
	background-color: #ffff;
	/*border-style: solid;*/
	border-width: 0px,0px,5px,0px;

}

.teal{
	background-color: #4aaaa5;
	border-color:#4aaaa5;
	display: inline;
}

.links{
	float: right;
}

.line{
	border:0px 3px 0px 0px;
}

/*.Profile-Pic{
	width: 280px; 
	height: 300px;
} */
